<div class="shipping">
  <p>Books print in 3 to 5 business days. Depending on your shipping selection, delivery can take from a few days to more than a week.</p>
  <p>If you want to start reading <em>right away</em>, buy the ebook &amp; print bundle and you'll get an immediate email with the download instructions for your ebook (in either standard ePub or Kindle formats). Then your print edition will arrive and be the perfect item to display proudly on your shelf!</p>
</div>