{% comment %} Genres Collection(s) Page ... insert code into Genre Collection's Description {% endcomment %}

<ul class="genres_list">
    <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/professional-sleuth">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Professional Sleuth</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
    <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/amateur-sleuth">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Amateur Sleuth</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
    <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/hardboiled-pi">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Hardboiled PI</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
    <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/noir">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Noir</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
        <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/noir">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Noir</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
        <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/noir">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Noir</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
        <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/noir">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Noir</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
        <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/noir">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Noir</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
        <li>
        <a href="https://tales-of-murder-press.myshopify.com/collections/noir">
            <img src="https://cdn.shopify.com/s/files/1/0258/0607/8031/files/placeholder_180x180_57b06438-fa1e-4e80-abea-a5cd17004076.jpg?3542" alt="">
            <h4>Noir</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </a>
    </li>
</ul>