  <div class="collection-hero page-hero">
    <header class="collection-header">
      <h1 class="huge__text">
        <span role="text">
          <span class="visually-hidden">{{ 'page.title' | t }}: </span>
          {{ page.title }}
        </span>
      </h1>
    </header>
  </div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
